/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.always.css";

[sn-focusable] {
  border: 3px solid transparent;
}

.sn-debug {
  [sn-focusable="pending"] {
    border: 3px solid rgb(255, 115, 0);
  }
  [sn-focusable="active"] {
    border: 3px solid blue;
  }
  [sn-focusable="disabled"] {
    border: 3px solid red;
  }
  [sn-is-parent] {
    border: 3px solid #f035d1;
  }
  [sn-constraint-to-parent] {
    border: 3px solid #fc33339f;
  }
}

[sn-focused="true"] {
  border-radius: 3px;
  border-color: white !important;
  background-color: rgba($color: #fff, $alpha: 0.2) !important;
}
